@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css";

//
//  _____ ___ ___ _ _    _____ ___ ___ ___ ___| |_ ___ 
// |     | .'|   | | |  |     | . |  _| .'|   |  _| -_|
// |_|_|_|__,|_|_|___|  |_|_|_|___|_| |__,|_|_|_| |___|
//

// Configuration
$color-manu-text: white;
$color-manu-icons: silver;
$color-manu-bg: black;

// About Manu
#about-Manu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;  
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  
  color: $color-manu-text;
  cursor: default;
  background-color: rgba($color-manu-bg,.9);
  transition: all .8s;
  box-shadow: rgba(black, .4) 0px 2px 4px inset;
  pointer-events: none;
  
  &:hover {
    background-color: rgba($color-manu-bg,1);
  }
  
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .manu {
    font-family: 'Arial';
    font-size: 14px;
    letter-spacing: 1px;
    
    .fa-heart {
      color: red;
      animation: pulse .8s infinite alternate ease-in;
    }
  }
  
  &:hover .fa-heart{
    animation: pulse .2s infinite alternate ease-out;
  }
  
  a {
    &:nth-child(1) {
      margin-left: auto;
    }
    
    &:nth-last-child(1) {
      margin-left: auto;
      
      &:hover {
        color: red;
      }
    }
    
    padding: 5px;
    color: $color-manu-icons;  
    text-decoration: none;
    
    &:nth-last-child(n+2):hover{
      background-color: rgba(white,.2);      
    }
  }
  
  *,
  *:after,
  *::before {
   outline: 0;
   text-rendering: optimizeLegibility;
   -webkit-text-stroke: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes pulse {
    0% { transform: scale(.9) }
  100% { transform: scale(1.2) }
}
